<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.algamil.mywaystore">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:name=".classes.MultiDexApp"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"

            android:value="@string/banner_ads2"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID_2"

            android:value="ca-app-pub-2008695252233572/9351175675"/>

        <activity android:name=".ui.activities.ProductActivity"
            android:theme="@style/noAction">

        </activity>
        <activity
            android:name=".ui.activities.CustomerActivity"
            android:label="@string/app_name"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.NotificationsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>


        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/noAction">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>